body { font-family: 'Segoe UI', sans-serif; background: #f8f9fa; }
.card { border-radius: 0.8rem; }
.transition {
    transition: top 0.5s ease;
    z-index: 10;
  }
  
  #loginPanel.show {
    top: 0 !important;
  }
  #loginPanel {
    background-color: #ffffff; /* dokładnie ten sam kolor co body */
  }