body { font-family: 'Segoe UI', sans-serif; background: #f8f9fa;}
.card { border-radius: 0.8rem; }
.transition {
    transition: top 0.5s ease;
    z-index: 10;
  }
  
  #loginPanel.show {
    top: 0 !important;
  }
  #loginPanel {
    background-color: #f8f9fa; /* dokładnie ten sam kolor co body */
  }

  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #f8f9fa;
    padding: 10px 0;
    z-index: 999;
  }


.view-slide-in {
  animation: slideIn 0.4s ease forwards;
}

.view-slide-out {
  animation: slideOut 0.3s ease forwards;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}
