<h4 class="text-center mt-4">Contact</h4>

<div id="locations-list" class="row g-4 px-3"></div>


<h5 class="mt-5 mb-3 text-center">Car Rental System Owners</h5>
<div class="row justify-content-center mb-4">
  <div class="col-10 col-sm-6 col-md-4 col-lg-3 mb-3">
    <div class="card shadow-sm text-center">
      <div class="card-body">
        <h6 class="card-title mb-1">Krystian Paryła</h6>
        <a href="mailto:228669@student.uek.krakow.pl" class="text-muted text-decoration-none d-block" title="Send email">
          228669
        </a>
      </div>
    </div>
  </div>
  <div class="col-10 col-sm-6 col-md-4 col-lg-3 mb-3">
    <div class="card shadow-sm text-center">
      <div class="card-body">
        <h6 class="card-title mb-1">Bartłomiej Rąpała</h6>
        <a href="mailto:228614@student.uek.krakow.pl" class="text-muted text-decoration-none d-block" title="Send email">
          228614
        </a>
      </div>
    </div>
  </div>
  <div class="col-10 col-sm-6 col-md-4 col-lg-3 mb-3">
    <div class="card shadow-sm text-center">
      <div class="card-body">
        <h6 class="card-title mb-1">Kacper Kosek</h6>
        <a href="mailto:228674@student.uek.krakow.pl" class="text-muted text-decoration-none d-block" title="Send email">
          228674
        </a>
      </div>
    </div>
  </div>
</div>

<div class="text-center mt-4 mb-5">
  <a href="https://github.com/kwaskowy/CarRentalSystem.git" class="btn btn-outline-dark" target="_blank">
    <img src="/images/github.svg" alt="" width="25" height="25" style="padding-bottom: 4px;user-select: none;">Project page
  </a>
</div>
