<h5 class="mb-3">Payment</h5>
<form>
  <div class="mb-3"><label class="form-label">Card holder name</label><input class="form-control" /></div>
  <div class="mb-3"><label class="form-label">Card number</label><input class="form-control" /></div>
  <div class="row">
    <div class="col-6 mb-3"><label class="form-label">Exp. Date</label><input class="form-control" /></div>
    <div class="col-6 mb-3"><label class="form-label">CVV</label><input class="form-control" /></div>
  </div>
  <div class="mb-3"><label class="form-label">Address</label><input class="form-control" /></div>
  <div class="mb-3"><label class="form-label">City</label><input class="form-control" /></div>
  <div class="row">
    <div class="col mb-3"><label class="form-label">State</label><input class="form-control" /></div>
    <div class="col mb-3"><label class="form-label">Zip Code</label><input class="form-control" /></div>
  </div>
  <button class="btn btn-dark w-100">Pay $300</button>
</form>
