<div class="d-flex flex-column justify-content-between  text-center px-4 py-3 position-relative overflow-hidden">
  <div class="text-center px-4 d-flex flex-column justify-content-between align-items-center" style="min-height: 90vh;">
    <div class="mt-4 w-100">
      <img src="images/login-graphic.png" alt="Illustration" class="img-fluid mb-4" style="max-height: 60vh; object-fit: contain;user-select: none;">
      <h4 class="mb-2">Welcome</h4>
      <p class="text-muted">Your best car rental system.<br>Ever.</p>
    </div>
  
    <div class="mb-5 w-50 d-flex justify-content-center">
      <button class="btn btn-dark" onclick="showLogin()">Sign in</button>
    </div>
  </div>
  
    <div class="footer text-muted small text-center">
        © 2025 Krystian Paryła - Bartłomiej Rąpała - Kacper Kosek
    </div>
  
    <div id="loginPanel" class="position-absolute start-0 w-100 px-4 pt-3 transition" style="top: 100%; height: 95vh; overflow-y: auto;">
      <div class="container" style="max-width: 360px;">
        <h5 class="text-center mb-4">Sign in to your account</h5>
        <form onsubmit="signInEmail(event)">
          <input id="email" type="email" placeholder="Email" class="form-control mb-3" required />
          <input id="password" type="password" placeholder="Password" class="form-control mb-4" required />
          <button type="submit" class="btn btn-secondary w-100 mb-3">Login</button>
        </form>
        
        <button class="btn btn-secondary w-100" onclick="signInGoogle()">
               <img src="/images/google.svg" alt="" width="25" height="25" style="padding-bottom: 4px;user-select: none;">     
          Login with Google
        </button>
        
      </div>
      <img
      src="/images/back.svg"
      alt="Back"
      onclick="hideLogin()"
      class="position-absolute end-0"
      style="bottom: 60px; right: 20px; width: 48px; height: 48px; cursor: pointer; z-index: 9999; opacity: 0.8;"
    >
    </div>
  </div>
  