<div class="mt-5 text-center">
    <h4 class="mb-4">Sign In to Car Rental</h4>
    <div class="container" style="max-width: 400px;">
      <form onsubmit="signInEmail(event)">
        <input id="email" class="form-control mb-2" placeholder="Email" required type="email" />
        <input id="password" class="form-control mb-3" placeholder="Password" required type="password" />
        <button type="submit" class="btn btn-primary w-100 mb-2">Login with Email</button>
      </form>
      <button class="btn btn-danger w-100" onclick="signInGoogle()">Login with Google</button>
    </div>
  </div>
  